.rangeList {
  display: flex;
  justify-content: space-between;
}

.rangeBlock {
  margin-top: 70px ;
  background: rgb(242,242,242);
  padding: 20px;
}

.listItem {
  overflow: hidden;
  &:hover {
    transform: scale(1.05);
    transition: 0.3s ease all;
    overflow: hidden;
  }
}

