.btn {
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: capitalize;
}

